.DS_Store
.idea
Thumbs.db
mobile/node_modules/
mobile/coverage
mobile/public/testMobileConnector.html
web/lg/engine/extra/netop.sso.wsdl.xml
web/lg/engine/extra/statisticsExportTmp/
web/lg/engine/extra/statisticsInvitesExportTmp/
web/lg/scripts/create-partitions.php
web/branch.php
node_modules
reports
*.class
.classpath
.project
/Tests/bin/com/netop/liveguide/tests/superadmin
typings/
.jsbeautifyrc
.tern-port